@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arimo", sans-serif;
}

html{
    background-color: #F2F2F2;
}

header{
    width: 100%;
    padding: 20px 4%;
    background: linear-gradient(90deg,rgba(56, 29, 115, 1) 0%, rgba(109, 73, 242, 1) 50%, rgba(56, 29, 115, 1) 100%);
    position: fixed;
    box-shadow: 0 0 25px #0d0d0d3a;
    z-index: 100;
}

header i{
    color: #F2F2F2;
}

header ul{
    list-style-type: none;
}

header ul li{
    display: inline-block;
    margin: 0 20px;
}

header ul li a{
    color:#F2F2F2 ;
    text-decoration: none;
    padding: 6px 10px;
    transition: .5s;
    position: relative;
}

header ul li a:hover, header ul li a:hover i{
    color:#F27C38;
}

header nav ul li a span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    border-bottom: 2px solid #F27C38;
    border-radius: 30px;
    transform: scale(0) translateY(0px);
    opacity: 0;
    transition: .5s;
}

header nav ul li a:hover span{
    transform: scale(1) translateY(0);
    opacity: 1;
}

.logo{
    background-image: url(../img/logo.png);
    width: 63.6px;
    height: 30.7px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container{
    max-width: 1280px;
    margin: auto;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.btn-login{
    position: relative;
    width: 100px;
    height: 40px;
    background: transparent;
    border-radius: 30px;
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
    border: 2px solid #F27C38;
    overflow: hidden;
    z-index: 1;
    color: #F2F2F2;
}

.btn-login::before{
    content: "";
    position: absolute;
    height: 300%;
    width: 100%;
    background: linear-gradient(#381D73, #F27C38, #381D73, #F27C38);
    top: -100%;
    left: 0;
    z-index: -1;
    transition: .5s;
}

.btn-login:hover:before{
    top: 0;
}

section{
     padding: 3% 5%;
     height: auto;
     width: 100%;
}

.banner{
    margin-top: 60px;
    width: 100%;
    height: 180px;
    background: linear-gradient(90deg,rgba(56, 29, 115, 1) 0%, rgba(109, 73, 242, 1) 50%, rgba(56, 29, 115, 1) 100%);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #F2F2F2;
    font-size: 1.3em;
    padding: 0 5%;
    box-shadow: 0 0 25px #0d0d0d3a;
    transition: 0.3s;
}

.banner:hover{
    box-shadow: 0 0 25px #0d0d0d80;
}


.btn-adicionar{
    position: relative;
    width: 100%;
    padding: 13px 20px;
    background: transparent;
    border-radius: 30px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    border: 2px solid #F27C38;
    overflow: hidden;
    z-index: 1;
    color: #F2F2F2;
}

.btn-adicionar::before{
    content: "";
    position: absolute;
    height: 300%;
    width: 100%;
    background: linear-gradient(#381D73, #F27C38, #381D73, #F27C38);
    top: -100%;
    left: 0;
    z-index: -1;
    transition: .5s;
}

.btn-adicionar:hover:before{
    top: 0;
}

/* BOTÃO HAMBURGUER */
.menu-toggle{
    display: none;
    font-size: 28px;
    color: #F2F2F2;
    cursor: pointer;
}

.menu-toggle:hover{
    background-color:#f2f2f27a;
    padding: 2px;
    border-radius: 10px;
}

.acoes-mobile{
    display: flex;
    align-items: center;
    gap: 10px;
}

@media (max-width: 1280px){
    .login-mobile{
        display: block;
        margin-top: 10px;
    }

}

/* MOBILE */ 
@media (max-width: 1280px){ 
    .menu-toggle{ 
        display: block; 
    } 
    .container{ 
        width: 100%; 
    } 
    nav{ 
        position: absolute; 
        top: 70px; 
        left: 0; 
        width: 100%; 
        background: linear-gradient(90deg,rgba(56, 29, 115, 1) 0%, rgba(109, 73, 242, 1) 50%, rgba(56, 29, 115, 1) 100%);
        display: none; 
        flex-direction: column; 
        padding: 20px 0; 
    } 
    nav.active{ 
        display: flex; 
    } 
    nav ul{ 
        display: flex; 
        flex-direction: column; 
        align-items: center; 
    } 
    nav ul li{ 
        margin: 15px 0; 
        display: block; 
    } 
    .flex{ 
        justify-content: space-between; 
    } 
}

@media (max-width: 900px){ .banner{ flex-direction: column; height: auto; gap: 15px; padding: 30px 30px; display: block; } .btn-adicionar{ width: 50%; height: 50px; font-size: 16px; margin-top: 30px; } }

@media (max-width: 500px){
     .banner h1{ 
        font-size: 40px; 
    } 
    .banner p{
        font-size: 20px; margin-top: 20px;
    } 
}


.banner-pesquisa{
    margin-top: 30px;
    width: 100%;
    height: 100px;
    border-radius: 30px;
    background-color: white;
    border: 2px solid #F2F2F2;
    box-shadow: 0 0 25px #0d0d0d3a;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

.buscar-box{
    position: relative;
    width: 32%;
    height: 60px;
    background-color: #F2F2F2;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    border-radius: 30px;
    border: 2px solid #0d0d0d3a;
    transition: .3s;
}

.buscar-box:focus-within, .buscar-box2:focus-within{
    border: 2px solid #6D49F2; /* roxo */
}

.buscar-box:focus-within .lupa-buscar i {
    color: #6D49F2;
}

.buscar-box input:focus, .buscar-box2 input:focus {
    outline: none;
}

.buscar-box2{
    position: relative;
    width: 32%;
    height: 60px;
    background-color: #F2F2F2;
    overflow: hidden;
    display: flex;
    justify-content: center;
    border-radius: 30px;
    border: 2px solid #0d0d0d3a;
}

.buscar-box .lupa-buscar{
    min-width: 80px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.buscar-box .lupa-buscar i{
    font-size: 20px;
    color: #0d0d0d80;
}

select:focus {
    outline: none; /* remove o contorno preto */
}

select{
    position: absolute;
    width: 85%;
    height: 100%;
    font-size: 20px;
    border: none;
    background-color: transparent;
    color: #0d0d0d80;
}

.buscar-box .input-buscar{
    position: absolute;
    left: 65px;
    width: 100%;
    height: 100%;
    line-height: 60px;
}

.buscar-box .input-buscar input{
    border: 0;
    outline: 0;
    font-size: 20px;
    background-color: #F2F2F2;
}

.dropdown{
    width: 33%;
}

.dropdown-selct{
    padding: 1.5rem;
    border-radius: 4px;
    background-color: #F2F2F2;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    cursor: pointer;
}

@media (max-width: 768px){
     .banner-pesquisa{ 
        display: block;
        height: auto; /* MUITO IMPORTANTE */ 
        padding: 20px; 
    }
    .buscar-box, .buscar-box2{ 
        width: 100%; /* ocupa linha inteira */ 
        margin-top: 10px;
    } 

}

/* GRID DOS PRODUTOS */
#lista-objetos {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
    gap: 20px;
    justify-content: center;
}

/* CARD */
.card-produto {
    background: #ffffff;
    border-radius: 30px;
    box-shadow: 0 0 15px #00000020;
    display: flex;
    flex-direction: column;
}

.sub-card{
padding: 10px 30px;
}

.card-produto:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 25px #00000040;
    border: 1px solid #6D49F2;
}


/* container da imagem (IMPORTANTE) */
.card-img-container {
    position: relative;
    overflow: hidden; /* corta o zoom */
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

/* imagem */
.card-img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    transition: transform 0.5s ease; /* animação suave */
}

/* efeito hover */
.card-produto:hover .card-img {
    transform: scale(1.1); /* zoom */
}

/* CATEGORIA (TOPO ESQUERDO) */
.categoria {
    position: absolute;
    top: 10px;
    left: 10px;
    background: #F2F2F2;
    color: #6D49F2;
    padding: 10px 15px;
    border-radius: 30px;
    font-size: 15px;
    font-weight: 600;
    backdrop-filter: blur(5px);
}

/* PREÇO (TOPO DIREITO) */
.preco {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #F27C38;
    color: #F2F2F2;
    padding: 15px 15px;
    border-radius: 30px;
    font-size: 15px;
    font-weight: 600;
}

/* CONTEÚDO */
.card-body {
    margin: 20px 30px;
}

/* NOME DO PRODUTO */
.card-body h3 {
    font-size: 20px;
    color: #0D0D0D;
    margin: 0;
}

.card-body p {
    font-size: 15px;
    color: #0d0d0d80;
    margin: 15px 0;
}

/* LOCALIZAÇÃO */
.localizacao {
    font-size: 13px;
    color: #777;
}

.localizacao i {
    color: #6D49F2;
}

hr{
      border-color: #0d0d0d27;
}

/* FOOTER DO CARD */
.card-footer {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* LINK SAIBA MAIS */
.saiba-mais {
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    color: #6D49F2;
    transition: 0.3s;
}

.card-rating{
    background-color: #f27c382c;
    border-radius: 30px;
    padding: 5px 10px;
}

.saiba-mais:hover {
    color: #F27C38;
}

/* ESTRELAS */
.estrelas {
    font-size: 14px;
    color: #FFD700;
}

footer{
    width: 100%;
    height: 360px;
    background: linear-gradient(90deg,rgba(56, 29, 115, 1) 0%, rgba(109, 73, 242, 1) 50%, rgba(56, 29, 115, 1) 100%);
    padding: 50px 5% 50px 5%;
}

footer p{
    font-size: 16px;
    color: #f2f2f2d3;
}

.espaco-superior{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.logo-footer{
    height: 100%;
}

.logo-footer p{
    margin-bottom: 20px;
}

footer img{
    width: 127px;
    margin-bottom: 20px;
}

.rede{
    display: inline-block; /* 🔥 ESSENCIAL */
    background-color: #f2f2f22a;
    font-size: 20px;
    padding: 10px;
    color: #F2F2F2;
    border-radius: 15px;
    transition: 0.5s;
}

.rede:hover{
    background-color: #f2f2f27a;
    transform: scale(1.1);
}

footer ul{
    list-style-type: none;
}

footer ul li{
    margin: 20px 0px;
    color: #f2f2f2d3;
}

footer ul li a{
    text-decoration: none;
    transition: .5s;
    color: #f2f2f2d3;
}

footer ul li a:hover{
    color:#F27C38;
}

footer h2{
    color: #F2F2F2;
}

.email{
    cursor: pointer;
}

.email:active{
    color:#F27C38;
}

.toast{
    position: fixed;
    bottom: 30px;
    right: 30px;
    background: #0D0D0D;
    color: #F2F2F2;
    padding: 15px 20px;
    border-radius: 12px;
    font-size: 14px;
    font-weight: 500;
    box-shadow: 0 0 20px #00000040;

    opacity: 0;
    transform: translateY(20px);
    pointer-events: none;

    transition: all 0.4s ease;
    z-index: 9999;
}

/* quando aparece */
.toast.show{
    opacity: 1;
    transform: translateY(0);
}

/* variação sucesso */
.toast.sucesso{
    background: linear-gradient(90deg, #6D49F2, #F27C38);
}

@media(max-width: 600px){
    .toast{
        right: 50%;
        transform: translateX(50%) translateY(20px);
    }

    .toast.show{
        transform: translateX(50%) translateY(0);
    }
}

footer hr{
    border-color: #f2f2f27a;
}

.inferior-center{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.boas-vindas{
    margin-bottom: 12px;
    font-size: 20px;
    color: #F2F2F2;
    font-weight: 500;
}

.boas-vindas strong{
    color: #F27C38;
}

/* ================= USUÁRIO LOGADO ================= */

.usuario-logado{
    color: #F2F2F2;
    font-size: 15px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 8px;
}

.usuario-logado i{
    font-size: 20px;
    color: #F27C38;
}

/* MOBILE */

@media (max-width: 768px){

    .usuario-logado{
        justify-content: center;
        margin-bottom: 15px;
    }

}
